body {
    margin: 0px;
    text-align: center;
    font-family: 'Calligraffitti', cursive;
}

h1 {
    margin: 40px auto 0 auto;
    font-size: 5.625rem;
    color: #41aea9;
    line-height: 1.5;
}

h2 {
    font-size: 2.5rem;
    color: #41aea9;
    font-weight: normal;
}

h3 {
    color: #006C74;
}

a {
    color: #006C74;
    padding: 5px;
}

p {
    margin: 0px;
}

hr {
    width: 5%;
    margin: 100px auto;
    border-style: none;
    border-top-style: dotted;
    border-color: #D2DDDD;
    border-width: 5px;
}

.top-container {
    position: relative;
    padding-top: 60px;
    background-color: #EAF6F6;
    height: 661px;
}

.bottom-container {
    background-color: #41aea9;
    padding-top: 25px;
}

.bottom-container p {
    color:  #EAF6F6;
    padding: 20px 0; 
    font-size: 1.2rem;
}

.footer-link {
    color: #006C74;
    font-size: 1.2rem;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    text-align: left;
    margin: 125px auto;
}

.coffee-img {
    width: 25%;
    float: right;
    margin-left: 25px;
}

.computer-img {
    width: 25%;
    float: left;
    margin-right: 25px;
}

.english-img {
    width: 25%;
    float: right;
    margin-left: 25px;
}

.korea-img {
    width: 25%;
    float: left;
    margin-right: 25px;
}

.profile {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.myphoto {
    width: 200px;
    margin-top: 100px;
}

.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 100;
    padding: 20px;
    background-color: #006C74;
    border: solid #006C74 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 50px auto;
    }
    
    .btn:hover {
    border: solid #004B51 1px;
    background: #004B51;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    }